.App {
  text-align: center;
}
.customer_form a:hover a:active a.active{
  color:#ffffff;
  font-weight:bold;
}
.customerbar li{
  display:inline-block;
  margin: 10px;
  border-radius: 5%;}
.customerbar li a:hover a:active a.active{
  background:#ccc;
  font-weight: 700;
  color:coral;
}
.customerbar li a{
  text-decoration: none;
  color:black;
}
